<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front page </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<style>



    body{
    
margin: 0;
padding: 0;

    }

#user{
  
  
background-color: #6c5ce7;

position: absolute; 
top:0;
right: 0;
height: 60px;

    }

@media(max-width:500px){

    #user{
  background-color: #6c5ce7;
  position: absolute; 
  top:0;
  right: 0;
  height: 60px;
  
      }
  


}

#user ul li{
    
    float: left;
    font-size: 26px;
    list-style: none; 
    padding-left: 100px;
    padding-right: 100px;
    color: floralwhite;

    }


    #user ul li:hover{

        transform: scale(1.2);
    }

#logo{

position: absolute;
text-transform: uppercase;

font-family: 'Great Vibes', cursive;
   color: #6c5ce7;
 top: 0;

}

#navigation{
  position: absolute;
  border: 1px solid black;
  width: 100%;
  top:60px;
  left:0;
background-color: black;
   
}

#navigation ul li{
  
  display: inline;
list-style: none;

padding-right: 75px;

}

#navigation ul li a{
text-decoration: none;
font-size: 15px;

color: white;
font-family: sans-serif;
text-transform: capitalize;


}

#ser{

    position: absolute;
top:74px;
right:90px;


}
#ser input{

    width:250px;
transition: 1s;
}
#ser i{
color: white;

transition: 1s;
}

#ser input:hover{

    transform: scale(1.1);
}

#ser i:hover{

transform: scale(1.2);

}




#thought{

position: absolute;
text-transform: capitalize;
font-family: 'Great Vibes';
    top: 146px;
    left: 314px;
letter-spacing: 5px;

}
       

button{
    width:275px;
    height:25px;
    transition:2s;
    text-transform:capitalize;
    border-radius:30px;
}

button:hover{
    background-color:#6c5ce7;
    

}

form{

 height: 310px;
 width: 275px;
 
}

#form1{
    position:absolute;
    top:275px;
    left:50px;
}
#form2{
    position:absolute;
    top:275px;
    left:375px;
}
#form3{
    position:absolute;
    top:275px;
    left:700px;
}
#form4{
    position:absolute;
    top:275px;
    left:1030px;
}



#form5{
    position:absolute;
    top:700px;
    left:50px;
}
#form6{
    position:absolute;
    top:700px;
    left:375px;
}
#form7{
    position:absolute;
    top:700px;
    left:700px;
}
#form8{
    position:absolute;
    top:700px;
    left:1030px;
}


#foot{

position: absolute;
width:100%;
height: 70px;

bottom:0;
left:0;
right:0;
bottom: -800px;

background-color:#311bd8 ;
}

#foot ul li{

display: inline-block;
/* float:left; */

    list-style: none;
   
    color: white;
margin-left: 220px;

}


#foot ul li :hover{

    transform: scale(2);
}

</style>
</head>   
<body>

    <header>

 <div id="user">

    <ul>

        <li><i class="fas fa-bell"></i> </li>
        <li><i class="fas fa-shopping-cart"></i></li>
        <li><i class="fas fa-user"></i></li>
        
    </ul>

 </div>


        <div id="logo">

        <h1> banarasi &nbsp  craft </h1>

        </div>

    </header>
    
<nav>

    <div id="navigation">

        <ul>
            <li><a href="#"> homeDecore </a> </li>
            <li><a href="#"> antique item </a> </li>
            <li><a href="#"> occasion  </a> </li>
            <li><a href="#"> dharmik </a> </li>
            <li><a href="#"> freind </a> </li>
        </ul>
        
    </div>
    <div id="ser">
  
    <input type="text" placeholder="Search Gift Item">
    <i class="fas fa-search"></i>
        
    </div>

</nav>



<div id="thought">

    <h1> the most special way to say something........</h1>

</div>

<form  action="/order1"  method="POST" id="form1">

     <img src="https://lh3.googleusercontent.com/5j0BIX2wWKQiZZGE-6tgcp7-abG5fphLLKUNHaBGIdIjILEWq-tIp-eneeLkTlACKo80Ghn83s-ROyzfdxV43NASl5Dnu9ZBxmkPkUGKA_GkgfqDCsw_y2NfaqYsc19Ap_LhA0_WJmQwe9NKpMEOFfZsjuJ4rNNJvJwACcWxujESwkQeFw5OvVwzC318L0ebdiUePIIf6fcHBTzbxPHcm8FVRbcU_TYgpsvJmmKCMEJPdPNNLcJWyhP7o1TlZNsege4uTr6E9oyPxo3NT-4X4-irLRJfqW1c_EdLlacpr0j7zdrXylURtziO9zD36j4kioF_Bnm_u8r0qIIog-7PbzVaq-QPAcgVPmABOnWJ9LDuq-SrMiQ4DjhgY1NhqhEy70NA0Uj2AVvlzMqeBU_LqdXNMLgwTPMFo5COiueuF0Kfp7PM5SBhIednmzJnLSgNf9Z0PZPmsWMM3GeaBsB2CiAmuF0fYgfuiXZ6c78q8u-obJorl-AlOF31-gFkTvbYVv2UbHFTVJuLjX5DPhkPoXTK0jKbbOj4QsbxbJugiP2yHx5CX6AcfYalwS0B5TsI2VX3xoLp18hN7BrOcihwj-DcBW5L_bzVFOvt1nPkdsq24aHyci_UerN3px34M8qm_5eIAKkc4YStPHigEisNiSFGjpGV_vQ58IWgcUl1aPxY-14V6fGYWJ1zTX-1BLiRaAWb7nybHuvy_f-8T01L47g=w367-h305-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit"> buy &nbsp; &nbsp;<i class="fas fa-rupee-sign" > 1000  </i></button>

</form>


<form  action="/order2"  method="POST" id="form2">

     <img src="https://lh3.googleusercontent.com/_I1AXWzkSlBz0gcYpqGj4-ucpj9t5s_S0Ug9sm8U_TE1Jl4oXJS9O2d5_ml59LemU8Tw7aXX1bPwGlwFJ21tv8e-rWrSAvIO1maUOq7o7NBU7unC2QJAdiD4FYiVGHGNeNxvgAK3ZKLELfYqC6P0bO3Y3ZEjnYaXQQ7YkCY32618lC0QNBF-6jx_2Z3-tyxU9gJl4XjFKPp2f4f8BYJjzc5KN2HgMotl8yniXHMbPOk3WojXQ6xlyZQdYn9iiPPRGU2bGKI9z3yLM7nQ2IRnV7DflqsWYlrVjh_ahaF6jxzK1Bib-hffXUVQXtguYBYYXx-git672mlkBIKk5VzMhb5iUbNEHkeqdZ8WGnYLfsB634JX2Yp6pK-q5wIQ5dkInb0JV3awjsQGIzKnepOgomguemEUj6tAmoD-IS0VK4D8SvNjgniFKKlK3H7SsZDEwJnFJ7xhlM8ji31L9lh9-mGUlRBZfDjDGFjEcpD9YpPO-R6_RKJJ2mPZhyt60CkFvqxrRqETtuTaXadEqMN-ggcgfyNWUdajun_IwMFLCugUAX7cAWPB31m773n1Gaup55cJg401ars-afwM5V_cQDys5OlaSPp_Kdnbz1fwRpmWHlGVWmmieQdJZuA_Kf98_VEJN1Aaj3G5Io8AVt9gfeg_8qWfsbMwNbf9M6a2Py5NcETpDzEVCWIn2vXijY2aMH02wreLvE0OMbvWEm6pOB8=w340-h371-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit">buy</button>

</form>

<form  action="/order3"  method="POST" id="form3">

     <img src="https://lh3.googleusercontent.com/MNwgyUn--Z0tbe1aP20LPD9wQZW00xeM4yYwhuFEgAnSHF43UJR89NWcZx6aUKZKNtXpgkcm1p_MfMbAsL2Q1-jD4WPg30ohFdtZDBdl-sxs8rcDYdpLFRTRBt54Prjgj9HhTKl1cT9MeBZiuL9MGeRTvtF9uw1w-VeByhvJ0QLBiEKAQ_5uTnkGzOikpM7slO9kadJOxaNdN_xqIbIf8GEpcjyEk9lxONl9LVSDdEx2HwSGZVwfYTrznuFzw2HnL3d7TkwZOTT_M64_D1xx9szBSUiS8QAVJKL_1kZwjVBdwFq_7EIduzYxr0MUpCj4MeP1DHSODqtJu6XkkSgp4j0EPdhgn0bvr12_Cz8aTwxKZ6N9MQTUsqYDodDTdapNucmz4ozt9S3UXVlro3XqZ2vu5abO1tcxt5H18-iaD30f0hZfgZ0HSlVQGflQdor2MQjTRVqUC45Esnx5jodKfmOvB5pKFJ4jKM3yZs_vQZ0lNmDoiRTJAkoBkMT9ucWc7sj-nV8kF4WWn6QYG2OAW5kXm_HZcZ66sG-ef1jJUHUNrlzx61vQvs9CEB9CyBrwJGFbRxI9GddhpBrLGUotTt6vtyf3UtnLucRTsT-z3OU6l5-rhlb6wiDRmS5EKTndEjlHHH8cIdK1djyLNgB_zczFhPTM5zRO0VsTDsmJ7W2eUa8XbqOrZk9_LlBpMGRLmupISowpdhfssR2_84SfRNI=w655-h298-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit">buy</button>

</form>



<form  action="/order4"  method="POST" id="form4">

     <img src="https://lh3.googleusercontent.com/7EtEb5qebKFnSVHmvGN8tDe5K78jQoU8JiQJL5i_crhkDS1myO-F4x0u0aRZOMUDi1iyXXmgZ2zG8PJiSyEPQGY1pHFXNahDsGQMd1EXyvPUGk_kaoSqnd_5vBH2yWZPLScQGEtQ2z31eHokcxLl4gtvYbL02dmkhxudl_KQSUBLfEAFmQU17uiLbTmim6Ha2PnaempTL4bmsUgXTlr2r2jgJ6XZnAVOHPhpELmXFgJoXOoM0bmuvScToA97fJbMPDAT8HEjwEs8aTRSNd6Esvm3OtKYSyjdfIXERnE2NfI2RCc4Tv7_JTLzwwvNfsW3x9YM25LhaUJ9Ad-MhgEhUTvaic6CNn2yO9atELV2BfcN2rUnkUm7l-v9i7I8FwQB5R2IsP_S8HVbPZ-Zwii2193hXK-aLUlzwPVa7XogZNW49OpY17-GEtzHzgZFN_9ywCS_KCbJvXMpspTp1u6JLQ900sZrVB--8khSGHMuko25GDkZXyvnddSqxZduz6H4oeYwOnTSnpAN4tRfYMaariISTubhTUbpyLGcx2yk8TMDxQIhH2FsyxYSSbiomeMi4FtjKkENVgY5lSROKmjv5t0-WnFkx90QWMcBIX0gQZe1ej7mbT-AzeyUzuXM7ahonxTGNJqTYgSTUq4H-RiOj8nk1y6vdoD_DXSTdQhbBmuoVKooGA9n0p_Gd4ByS3rpEVJV-9tOCRNN4Pc7RLWmWsM=w524-h476-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit">buy</button>

</form>


<form  action="/order5"  method="POST" id="form5">

     <img src="https://lh3.googleusercontent.com/-b51cB8iL6SkBoq3Rbr2igEPz7ZlHum56Vl83L4GjsJMyMP3Phw_DVWBN5JQz3jMepvDkF2NRi8r6rExhjlZqH6rIq-2xeGpOtsCgtvJygMNsM8oxA0Y2H8rkNCcGr_sPlsggvzFwXU1zhIcoP3rH8ekoUODiYyqlByjNiuSFZHL2lEARrCQRYCaeEz_jXTlgYbLb_-WQX31IqTORCcgamLaEM4FpKaEZgRoq7Et0KaOFmhUVZHXo37mpqlW6jZ8H-QEnuMh-BBGVBqDwMKpm3_LMIa8JL5zurMnwKPnhDMweknAXWrRpl1panCwXxxmtej5XtoPdT7ES0ncXxYSXwWOMFOBEAK1UznCgi_bEgSYEIQUYlB0CuopizUg_kHRCndbfmS1ocluiZVUuXsY_bQAYpbJ7JJeGRuz7H2D1nOB60PDAz3l0SV3qfSrJjJea061oK8vbYERaFUfvF4ztMnUi_roGgc-3EiGU75R5HYZa0q85eR9clOg0z_frgJHozuS8GcjqUlZg4LOcBFXZ1WQ_Op2tvtJaXV2cv1J_dCt7YgQCBlwNAnzpNQv7Ql4PXvBZTulBUihGv2KChBsGMDSG_lmmnzp2mfjToyvvT3nd_FtngTLbHNtuwl61h5-g6rAw46VDndLWEzXMeey6q-PeaWDqaAkvN-LeILHKmGxWPgKNCuCGEHhmRpyWGgXZBxeCFLo3OlSbDhaNrgJheE=w399-h625-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit">buy</button>

</form>

<form  action="/order6"  method="POST" id="form6">

     <img src="https://lh3.googleusercontent.com/mqlfxm3IK6Y7gofUQKPvjxxKIGynY4GazmdfG4C-RC2w5qVKhMH_vfyVr-7n8L4W13NDAAAlEDLIlYA10xPSY3D69APTkX9V_pjsHfkLfhHtDT4tSxNNB3aL2Z_P00-Dq-85hx69SQKi4N7q44jhF3ZeHhmFLdUPZtHxYZqQZ94dZnCqw08ohoANK5Q9zDEL36XzGfTGnP8X-w-ZUz-vRwYRGUIXNbeIcIYYLBi8oMVs2UeJQy7riLQM48LevDKTqPm8dWlRVT1tZ-JW6UQERYwb_qNp0KrldM7_uqCVNh1I1Nhz1SR5Sd6qO21bcPttg8PhS8RBou_EeYOJAydF7xmshTYXB2998qDjDwknzKk9G_XO6nZJZRNZQuLzJxCyZAeadXrRDzZw6OdSPmcXKXetMtkDBLHCDHbLIOnmvhb0cpbc_pwGydKfPiNs0OacT_xOEIsNfW4QBGFHlKJgtK2H-_iu41bDbFfD7SnEswE-BR0AFRgECIOdQwqdRY-ImyVFw4BXrJU7Uk2D1ycyCM9opD2WImByD3obxJbk-FsH9gTdcU2sIfKW-DIpRmo2XuUM4afsY-XJr-JRBPdtI2XQJrd-IHkjCOn5zsavuf6ueXet4ShhZ6JQ580U7bsK0XSN-6jX-0a3SYmsezP5Oj1Lc0erYZ4U5txwyDlzPTTZl0fxnPj-TTkc_Fqb-36c2hgzejjqbTWR0AG-Np1NBDU=w408-h612-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit">buy</button>

</form>

<form  action="/order7"  method="POST" id="form7">

     <img src="https://lh3.googleusercontent.com/8AS6JTMRhxzn7obPuiflSVxS4HDJmF3EA-_nrLHD5yJ7iUsZQmTI9mt2vFaGfzyn1NcbqVb3qQenHrdPy7gzpzRYhRxca-G-mqgVAJwsMeQgJw9ElyBA0i9e91mA6mz2_aO9Bol1iakB9b8MEqgZeaAmf0LxaQ41QKzxtt25R5Gkh1eA3kMIBzQOMJa8gnBYjPStt4R4xp8YV9ScHeRLs1KZbhKw36aNXBm41yJSBZyLtVHceCp-yZCrRjbsZMmNfkf7QKG294lDLRkQk2h5geRFS0WUVod7EFNHSL89uYLKZKjlDBFpaIF5o3cINCfwqD7D6XAlWS5gd5raytyXe0DW8PDNxG0BmFc4EgCybXo6C7sE0XNX4PA_WYEKmsD-MI22Z22SM83JV0MqEg4i9fNCH1tUpbmu0AYpm551nEq2rIu7h9_hBM6eCG1TpDZRV5u-UepZAfTaVFt--IRtEleylBfr3ANvBq-20gIQoYQJxWYzz43Fpxjyco77NC4s8hW6nkSdJ7kQMFHSP_i9iS_YFurwM97P3NAMySFFub7QjGO-e92ltK9E_l6tfbDg2-ryuszKjTJWTDLCJw9ozXz29v-YjI12tx_UVJDXb7AQ09rwiSHvNjW0Tgcvz4VvPp6SRj2pl5s7LWMeacr5ffwiXGtlTBt-V-iWd4MyPnQd0VuPqhw7-7_NlccUVq5VhPcyn6hVDiBqhWz5RXllqHo=w717-h348-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit">buy</button>

</form>

<form  action="/order8"  method="POST" id="form8">

     <img src="https://lh3.googleusercontent.com/6y5qpBU9aYL0CcrLoTUkAVZcUi7Qp5tFmxpFny7zm5dBEOGdPYUJYkeKF6keMHLWPPm5ZKf9rEdUOMrjXjo2kiO2__StMj3Lwz5WhhIr20b7na_77h5nYVCCkyZiTpxs9Y8yOClQ5-VV0BOznIJqnONBbfve1sZ-bIOQxEtIMMtI1aCjqqc0Yyn-jxRGsVejbueLRRg2wPpTU_LYi-4yv0HMehEe4vdUiYBpU4NnVrTGWqrA9ZM8O32MqeFvMu_6UViX2wnHvQr3fdzJ1PBechJSK8z8meTB2qdZSobBb7rHPvHIW55HMRTmD-T2XvlKrmwIg-gmvjtEzloYHUW4GOkb9Pb5jTtWG_Pdv0OHbzvEjHVaxCZf5Tjg_xwQLGIefj3xdGTksl4wKu3R7QAbxbJiuGFvCKSTC0nqChmGPAbTGu4DimLql0IzBI5NjWSDjGH1cGhVeRGsIzjRVM3ciqi172h6qJhRaCZezMREPjA1SHLo_CPrRkvOUMEWik-6ugsDe9_d7O-nueysB45jm4-oKbB6MhL_KnWx00r0UVADOydiarTLdxZFVU69Tvbz-XTj8l-z9M7OzxQadJS9h6eTuamMQ0zS2dM8cOgmfFrHg4apUbn2pW51SQWF2xGf-OOchBpE9C8AVx9nuyi4EBT4RTkREobjDyxZx4kZB1nYCKp-Jh6Z2T9FfHEHQV-D1WW9XW_MdWDgkr3DoDUchEw=w577-h433-no?authuser=0" alt="gift" height="275" width="275">

     
     <button name="submit">buy</button>

</form>



<footer>

        <div id="foot">
        
        
            <ul>
        
            
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fas fa-code"></i></li>
                <li><i class="fas fa-id-card"></i></li>
                <li><i class="fab fa-google-play"></i></li>
            
            </ul>
        <p  style="color: white; text-align: center;">Copyright © 2007 - 2020 - Free CSS. All Rights Reserved,powered by Rak</p>
        
        
        </div>
        
        
        </footer>

    




</body>
</html>